
<h1>Dishes</h1>

<%= link_to 'New Dish', new_dish_path %>

<!--
<div class="instrument-index-grid pt4">
  <% @dishes.each do |dish| %>

    <div class="instrument border-light">
      <div class="instrument-thumb">

      <% if dish.category? %>
        <div class="condition">
          <span class="tag is-dark"><%= dish.category %></span>
        </div>
      <% end %>
      </div>


      <div class="instrument border-light">
           <%= link_to image_tag(dish.image_url(:thumb)), dish %>
    </div>
 
    <div class="pa3">

      <h3 class="fw7 f4 title"><%= link_to dish.name, dish %></h3>

      <p class="has-text-gray fg pt1">Sold by Narita sushi</p>

      <p class="f3 fw6 has-text-right pt2 price"><%= number_to_currency(dish.price) %></p>

         <%= link_to 'Edit', edit_dish_path(dish), class: "button is-small" %>
         <%= button_to 'Destroy', dish, method: :delete, data: { confirm: "Are you sure ?" }, class: "button is-small" %>

    </div>
  </div>
  <% end %>
</div>

-->
<div class="instrument-index-grid pt4">
  <% @dishes.each do |dish| %>

<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
     <%= link_to image_tag(dish.image_url(:thumb)), dish %>

    </figure>
  </div>
  <div class="card-content">

    <div class="media">
      
      <div class="media-content">
        <p class="title is-4"><%= link_to dish.name, dish %></p>
        <p class="subtitle is-6"><%= number_to_currency(dish.price) %></p>
      </div>
    </div>
     <% if dish.category? %>
          <span class="tag is-dark"><%= dish.category %></span>
      <% end %>

    <div class="content">
        <%= dish.description %>
      <br>
      <time datetime="2016-1-1">Sold by Narita sushi</time>
    </div>
  </div>
  <footer class="card-footer">
   <%= link_to 'Edit', edit_dish_path(dish), class: "card-footer-item" %>
   <%= link_to 'Destroy', dish, method: :delete, data: { confirm: "Are you sure ?" }, class: "card-footer-item" %>
  </footer>
</div>

<% end %>
</div>

